.container{
    background-color: rgb(216, 186, 165);
    height: 800px;
    width: 1000px;
    padding-top: 210px;
    padding-left: 350px;
   /* display: grid;
    grid-template-columns: 151px 151px 151ex;
    grid-template-columns: 151px 151px 151px;*/
 }

.container2{
    border: 5px solid black;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    height: 410px;
    width: 570px;
    display: grid;
   /* grid-template-columns: 101px 101px 101px;
    grid-template-rows: 101px 101px 101px;*/
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    /*row-gap: 10px;
    column-gap: 10px;*/
}

.item{
   background-color: aquamarine;
   /*height: 100px;
   width: 100px;*/
}

.item1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtLA0XOe5VMNQKh6C8b-FC42GnMNb8FzYPBg&usqp=CAU);
    width: 270px;
    height: 410px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2{
    align-content: right;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
    padding-left: 10px;
}

#btn{
    background-color: green;
    color: white;
}

.p{
    font-size: 144px;
}